{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    {{ parent() }}

    <h1>Create new Category</h1>

    {{ include('category/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('category_index') }}" role="button">Back to list</a>
{% endblock %}
