{% extends 'base.html.twig' %}

{% block title %}New Post{% endblock %}

{% block body %}
    {{ parent() }}

    <h1>Create new Post</h1>

    {{ include('post/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('post_index') }}" role="button">Back to list</a>
{% endblock %}
